* {
  box-sizing: border-box;
}

html{
    padding-top: 30px;
    background-color: #FFEBCD;
}

#outer-container {
  border-radius: 15px;
  padding: 20px;
  width: 45%;
  height: 100%;
  background-color: red;
  padding-bottom: 50px;
  margin: 0 auto;
}

#grid-container {
  border: 1px solid black;
  display: grid;
  grid-template-columns: repeat(auto-fit, 20px);
  grid-template-rows: repeat(auto-fit, 20px);
  background-color: white;
}

#btn-div {
  display: flex;
  justify-content: center;
  padding-top: 15px;
}

.btn {
    background: #ffffff;
    background-image: -webkit-linear-gradient(top, #ffffff, white);
    background-image: -moz-linear-gradient(top, #ffffff, white);
    background-image: -ms-linear-gradient(top, #ffffff, white);
    background-image: -o-linear-gradient(top, #ffffff, white);
    background-image: linear-gradient(to bottom, #ffffff, white);
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 10px;
    font-family: Courier New;
    color: red;
    font-size: 12px;
    padding: 10px 20px 10px 20px;
    border: solid red 1px;
    text-decoration: none;
    margin: 3px;
}

.btn:hover {
    background: #ff6e6e;
    color: white;
    background-image: -webkit-linear-gradient(top, #ff6e6e, red);
    background-image: -moz-linear-gradient(top, #ff6e6e, red);
    background-image: -ms-linear-gradient(top, #ff6e6e, red);
    background-image: -o-linear-gradient(top, #ff6e6e, red);
    background-image: linear-gradient(to bottom, #ff6e6e, red);
    text-decoration: none;
    border: 1px solid white;
}

#circles-div {
  display: flex;
  justify-content: space-between;
  margin: 15px 20px 0px 20px;
 
}

img {
  border-radius: 100%;
  width: 120px;
}

p {
  display: flex;
  align-items: center;
  font-family: "Cabin Sketch", cursive;
  color: white;
  font-size: 32px;
}

@media only screen and (max-width: 1275px) {
    body {
      
    } img{
        width: 110px;
        margin: 10px 20px 0px 20px;
    } p {
        font-size: 24px;
    } #outer-container{
        padding-bottom: 35px;
        width: 50%;
    }

  }

  @media only screen and (max-width: 1115px) {
    body {
        
      } img{
          width: 85px;
          margin: 10px 20px 0px 20px;
      } p {
          font-size: 20px;
      } #outer-container{
          padding-bottom: 35px;
          width: 60%;
      }
  }

  @media only screen and (max-width: 825px) {
    body {
        
      } img{
          width: 55px;
          margin: 10px 20px 0px 20px;
      } p {
          font-size: 16px;
      } #outer-container{
          padding-bottom: 35px;
          width: 70%;
      }
  }

  @media only screen and (max-width: 595px) {
      html{
          padding: 0px;
          margin: 0px;
      } body {

      } img{
          display: none;
      } p {
          font-size: 26px;
      } #outer-container{
          padding-bottom: 35px;
          width: 95%;
      } #circles-div {
        display: flex;
        justify-content: center;
      } #grid-container {
        border: 1px solid black;
        display: grid;
        grid-template-rows: repeat(15, 20px);
      }
  }